SealSignBSSClientTest/Service References/BiometricAuthenticationService/BiometricAuthenticationServiceBasic2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SealSignBASService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SealSignBASService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SealSignDSSFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SealSignDSSFaultContract" nillable="true" type="tns:SealSignDSSFaultContract" />
</xs:schema>