SealSignBSSClientTest/Service References/BiometricAuthenticationService/BiometricAuthenticationServiceBasic3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://p11p-74.11paths.local:8731/SealSignBASService/BiometricAuthenticationServiceBasic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SealSignBASTypes" />
  <xs:element name="Enable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SealSignBASTypes" minOccurs="0" name="type" type="q1:BiometricAuthenticationType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SealSignBASTypes" minOccurs="0" name="type" type="q2:BiometricAuthenticationType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SealSignBASTypes" minOccurs="0" name="type" type="q3:BiometricAuthenticationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOnBehalfOf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SealSignBASTypes" minOccurs="0" name="type" type="q4:BiometricAuthenticationType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOnBehalfOfResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Enroll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SealSignBASTypes" minOccurs="0" name="type" type="q5:BiometricAuthenticationType" />
        <xs:element minOccurs="0" name="biometricState" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollOnBehalfOf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SealSignBASTypes" minOccurs="0" name="type" type="q6:BiometricAuthenticationType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="biometricState" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollOnBehalfOfResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Verify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SealSignBASTypes" minOccurs="0" name="type" type="q7:BiometricAuthenticationType" />
        <xs:element minOccurs="0" name="biometricState" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="score" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOnBehalfOf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SealSignBASTypes" minOccurs="0" name="type" type="q8:BiometricAuthenticationType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="biometricState" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOnBehalfOfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyOnBehalfOfResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="score" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasEnrollment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SealSignBASTypes" minOccurs="0" name="type" type="q9:BiometricAuthenticationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasEnrollmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasEnrollmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasEnrollmentOnBehalfOf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SealSignBASTypes" minOccurs="0" name="type" type="q10:BiometricAuthenticationType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasEnrollmentOnBehalfOfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasEnrollmentOnBehalfOfResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>