SealSignBSSClientTest/Service References/BiometrisSignatureService/BiometricSignatureServiceBasic1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://p11p-74.11paths.local:8731/SealSignBSSService/BiometricSignatureServiceBasic.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SealSignDSSTypes" />
  <xs:import schemaLocation="http://p11p-74.11paths.local:8731/SealSignBSSService/BiometricSignatureServiceBasic.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SealSignBSSTypes" />
  <xs:import schemaLocation="http://p11p-74.11paths.local:8731/SealSignBSSService/BiometricSignatureServiceBasic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SealSignBSSService" />
  <xs:import schemaLocation="http://p11p-74.11paths.local:8731/SealSignBSSService/BiometricSignatureServiceBasic.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="HeartBeat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SealSignDSSTypes" minOccurs="0" name="signatureProfile" type="q1:SignatureProfile" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SealSignBSSTypes" minOccurs="0" name="biometricSignatureType" type="q2:BiometricSignatureType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SealSignBSSTypes" minOccurs="0" name="biometricOptions" type="q3:BiometricSignatureFlags" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SealSignBSSTypes" minOccurs="0" name="biometricParameters" nillable="true" type="q4:BiometricSignatureParameters" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SealSignDSSTypes" minOccurs="0" name="options" type="q5:SignatureFlags" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SealSignDSSTypes" minOccurs="0" name="parameters" nillable="true" type="q6:SignatureParameters" />
        <xs:element minOccurs="0" name="detachedSignature" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="signingDocument" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SealSignBSSService" minOccurs="0" name="BeginSignatureResult" nillable="true" type="q7:BiometricSignatureBeginResponseBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginSignatureProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="providerParameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="document" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginSignatureProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SealSignBSSService" minOccurs="0" name="BeginSignatureProviderResult" nillable="true" type="q8:BiometricSignatureBeginResponseBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="instance" type="q9:guid" />
        <xs:element minOccurs="0" name="biometricState" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndSignatureResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSignatureProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="instance" type="q10:guid" />
        <xs:element minOccurs="0" name="biometricState" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="providerParameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnSignedDocument" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSignatureProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndSignatureProviderResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Verify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SealSignDSSTypes" minOccurs="0" name="signatureProfile" type="q11:SignatureProfile" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SealSignBSSTypes" minOccurs="0" name="biometricSignatureType" type="q12:BiometricSignatureType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SealSignBSSTypes" minOccurs="0" name="biometricOptions" type="q13:BiometricVerificationFlags" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SealSignBSSTypes" minOccurs="0" name="biometricParameters" nillable="true" type="q14:BiometricVerificationParameters" />
        <xs:element minOccurs="0" name="biometricState" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="detachedSignature" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="document" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SealSignBSSTypes" minOccurs="0" name="VerifyResult" nillable="true" type="q15:BiometricSignatureVerification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoFromBiometricState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SealSignDSSTypes" minOccurs="0" name="signatureProfile" type="q16:SignatureProfile" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="instance" type="q17:guid" />
        <xs:element minOccurs="0" name="biometricState" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="document" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoFromBiometricStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SealSignBSSTypes" minOccurs="0" name="GetInfoFromBiometricStateResult" nillable="true" type="q18:BiometricSignatureVerification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SealSignDSSTypes" minOccurs="0" name="signatureProfile" type="q19:SignatureProfile" />
        <xs:element minOccurs="0" name="document" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SealSignBSSTypes" minOccurs="0" name="GetInfoResult" nillable="true" type="q20:BiometricSignatureVerification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncOfflineSignatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SealSignDSSTypes" minOccurs="0" name="signatureProfile" type="q21:SignatureProfile" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SealSignBSSService" minOccurs="0" name="offlineSignatures" nillable="true" type="q22:ArrayOfOfflineBiometricSignature" />
        <xs:element minOccurs="0" name="detachedSignature" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="signingDocument" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncOfflineSignaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncOfflineSignaturesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncOfflineSignaturesProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SealSignBSSService" minOccurs="0" name="offlineSignatures" nillable="true" type="q23:ArrayOfOfflineBiometricSignatureProvider" />
        <xs:element minOccurs="0" name="signingDocument" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="returnSignedDocument" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncOfflineSignaturesProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncOfflineSignaturesProviderResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>